.vim/bundle/**
~.vim/bundle/vundle
.vim/session/

.ssh/*
git rm -r --cached .config/deluge/
.config/deluge
.config/google-chrome-beta/
.config/google-chrome/
.config/pulse
.config/autostart
.config/hub
.config/beets/library.db
.config/beets/state.pickle
.config/gtk-2.0/gtkfilechooser.ini
.config/aurvote
.vim/undo/
.vim/tmp/
